name: Linux Release

on:
  push:
    branches:
      - "master"
      #- "continuous-integration"
      #- "cross-platform"
    tags:
      - "v*"
  pull_request:
    branches:
      - "master"
      #- "continuous-integration"

defaults:
  run:
    shell: bash

env:
  SOURCE_DIR: ${{ github.workspace }}
  QT_VERSION: 6.5.3
  #QT_VERSION: 6.8.3
  ARTIFACT: "CS3MapEdit-x86_64.AppImage"

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Run Python script
        run: |
          python3 bin/patch.py

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ env.QT_VERSION }}
          host: linux
          target: desktop
          arch: gcc_64
          dir: ${{ runner.temp }}
          setup-python: false

      - name: Create build directory
        run: mkdir ${{ env.SOURCE_DIR }}/build

      - name: Build
        working-directory: ${{ env.SOURCE_DIR }}/build
        run: |
          qmake -r ${{ env.SOURCE_DIR }}/src/mapedit.pro
          make

      - name: AppImage
        working-directory: ${{ env.SOURCE_DIR }}/build
        run: |
          sudo apt update -y
          sudo apt install libxcb-cursor0
          sudo apt install libfuse2
          wget -O deploy.AppImage https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage
          chmod +x deploy.AppImage
          ls ${{ env.SOURCE_DIR }}
          cp ${{ env.SOURCE_DIR }}/linux/* .
          ./deploy.AppImage CS3MapEdit.desktop -appimage -no-translations -qmldir=${{ env.SOURCE_DIR }} -extra-plugins=renderers
          ls -l
          mkdir ${{ env.SOURCE_DIR }}/build/release
          ls -l
          mv CS3MapEdit*.AppImage ${{ env.SOURCE_DIR }}/build/release

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ${{ env.SOURCE_DIR }}/build/release/*.AppImage
            LICENSE

      - name: Linux artefact
        uses: actions/upload-artifact@master
        with:
          name: ${{ env.ARTIFACT }}
          path: ${{ env.SOURCE_DIR }}/build/release
          retention-days: 7
